@model IEnumerable<IAIA.Models.Project>

@{
    ViewBag.Title = "Delevered";
}

<h2>Delevered</h2>

<table class="table">
    <tr>
        <th>
            <p>Name </p>
        </th>
        <th>
           <p>Description</p>
        </th>
        
        <th>
           <p>Start Date</p>
        </th>
        <th>
            <p>End Data </p>
        </th>
       
        
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ProjectName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ProjectDescription)
        </td>
     
        <td>
            @Html.DisplayFor(modelItem => item.StartDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.endData)
        </td>
      
       
    </tr>
}

</table>
